<div class='mb-3'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to  "Home", root_path, class:"navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <%= link_to  "Contents", content_sample_home_path,class:"nav-link" %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to  "Profile", user_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to  "Logout", destroy_user_session_path, class:"nav-link", method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to  "Login", new_user_session_path,class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to  "Signup", new_user_registration_path,class:"nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% if notice %>
    <div class="notice alert alert-info m-0 p-0">
      <div class='container'>
        <%= notice %>
      </div>
    </div>
  <% elsif alert %>
    <div class=" alert alert alert-danger m-0 p-0">
      <div class='container'>
        <%= alert %>
      </div>
    </div>
  <% end %>
</div>
